.blocks .block {
	min-height: 333px;
	color: #fff;
	position: relative;
	background-color: #333;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	overflow: hidden;
}
.blocks.testimonial .block {
	min-height: 333px !important;
}
.blocks .block:before {
	display: block;
	content: '';
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.blocks.testimonial .block:before {
	display: none;
}
.blocks .block .item {
	display: block;
	font-size: 24px;
	line-height: 24px;
	padding: 24px 5px;
	text-transform: lowercase;
	text-decoration: none;
	position: absolute;
	top: calc(50% - 36px);
	left: 20%;
	right: 20%;
	text-align: center;
	color: #fff;
}
.blocks.orange .block .item {
	background-color: #ec7324;
	background-image: url(../images/block-hover.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto;
	transition-property: top, right, bottom, left;
	transition-duration: 0.25s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.blocks.orange .block .item span.title {
/*	transition-property: none;
	margin-top: 120px;*/
}
.blocks.projects .block .item span.title {
	text-transform: uppercase;
}
.blocks .block .item:hover {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: 100% 100%;
}
.blocks.projects .block .item:hover {
	background: rgba(255, 255, 255, 0.1);
}
.blocks.orange .block .item:hover span.title,
.blocks.projects .block .item:hover span.title {
	display: block;
	margin-top: 120px;
}
.blocks .block .item span.readmore {
	display: none;
	text-transform: uppercase;
	font-size: 18px;
	margin-top: 12px;
}
.blocks .block .item:hover span.readmore {
	display: block;
}
.blocks .details {
	font-size: 16px;
	padding-left: 15px;
	padding-right: 15px;
}
.blocks.orange .details,
.blocks.projects .details {
	display: none;
}
.blocks.testimonial .item {
	/*display: none;*/
	max-height: 0;
	padding: 0;
	top: auto;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.9);
	font-size: 20px;
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.blocks.testimonial .block:hover .item {
	display: block;
	max-height: none;
	padding: 24px 5px;
}
.blocks.testimonial .block .item span.title:after {
	display: block;
	content: '';
	width: auto;
	height: 2px;
	background: #ec7324;
	margin: 10px 25%;
}
.blocks.testimonial .block .item:hover {
	top: auto;
}
@media screen and (max-width: 1199px) {
	.blocks .block {
		min-height: 200px;
	}
	.blocks.orange .block .item:hover span.title,
	.blocks.projects .block .item:hover span.title {
		margin-top: 60px;
	}
}
@media screen and (max-width: 767px) {
	
}