@font-face {
	font-family: 'Neo Sans Pro';
	src: url('../fonts/NeoSansPro-Italic.eot');
	src: url('../fonts/NeoSansPro-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NeoSansPro-Italic.woff2') format('woff2'),
		url('../fonts/NeoSansPro-Italic.woff') format('woff'),
		url('../fonts/NeoSansPro-Italic.ttf') format('truetype'),
		url('../fonts/NeoSansPro-Italic.svg#NeoSansPro-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

body {
	overflow-x: hidden;
	font-family: 'Armata', Helvetica, arial, sans-serif;
	background: #222;
}

a {
	-webkit-transition: color 0.25s linear, background-color 0.25s linear;
	-moz-transition: color 0.25s linear, background-color 0.25s linear;
	-o-transition: color 0.25s linear, background-color 0.25s linear;
	-ms-transition: color 0.25s linear, background-color 0.25s linear;
	transition: color 0.25s linear, background-color 0.25s linear;
	color: #fb7f00;
}
a:hover {
	color: #666;
}
p + ul, p + ol {
	margin-top: -10px;
}
dl { margin: 0; }
dt {
	width: 80px;
	float: left;
	clear: left;
	font-weight: bold;
}
dd {
	margin-left: 90px;
	padding: 0 0 6px 0;
}
dt, dd {
	line-height: 16px;
	min-height: 16px;
}
dd p:last-child {
	margin-bottom: 0;
}
h1 {
	color: #ec7324;
	font-size: 36px;
	font-weight: 400;
}

h2 {
	font-size: 28px;
	color: #ec7324;
}
img {
	max-width: 100%;
}
#gmap img, .gmnoprint img {
	max-width: none;
}
.row.divider > [class*='col-']:not(:last-child):after {
	display: block;
	content: '';
	background: #333;
	width: 1px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	min-height: 100px;
}

html.c5-edit-mode .inner-content {z-index:auto;}

body.home h1 {
	font-family: 'Neo Sans Pro', Helvetica, arial, sans-serif;
	font-style: italic;
	font-weight: normal;
}
body.home h2.page-title {
	color: #000;
}
h1.page-title,
body.home .page-title,
.black-wrapper .page-title,
#ft .page-title {
	margin: 60px 0;
	text-align: center;
}
h1.page-title {
	text-align: left;
}

@media screen and (max-width: 767px) {
	h1.page-title,
	body.home .page-title,
	.black-wrapper .page-title,
	#ft .page-title {
		margin: 30px 0;
	}
}
.black-wrapper {
	background: #000;
	color: #fff;
}
.black-wrapper h1.page-title,
.black-wrapper h2.page-title,
.black-wrapper h3.page-title {
	color: #fff;
}
#ft h2.page-title {
	color: #000;
}

.btn-default {
	color: #000;
	background-color: transparent;
	background-image: none;
	background-repeat: repeat-x;
	border-color: #ffdbc8 #fbaf8b #fbaf8b #ffdbc8;
	text-shadow: none;
}
.btn-default:hover, .btn-default:active, .btn-default.active, .btn-default.disabled, .btn-default[disabled] {
	background-color: #000;
	color: #fff;
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.focus, .btn-default:active.focus, .btn-default:active:focus, .btn-default:focus {
	background-color: #333;
	color: #eee;
}
.btn-primary {
	color: #fff;
	text-shadow: none;
	background-color: #000;
	background-image: none;
	border-color: #333 #111 #111 #333;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #333;
	color: #ec7324;
	border-color: #333 #111 #111 #333;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.focus, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:focus {
	background-color: #444;
	color: #efefef;
	border-color: #333 #111 #111 #333;
	outline-color: #000;
}


main {
	padding-top: 124px;
	background: #fff;
	overflow: hidden;
}
#hd > nav.navbar {
	min-height: 124px;
	border: none;
	background: rgba(0, 0, 0, 0.75);
	margin: 0;
}
#hd a.navbar-brand,
#hd a.navbar-brand img {
	padding: 0;
	height: 124px;
}
main > .header-slider:first-child {
	margin-top: -124px;
}
main > picture:first-child img {
	margin-top: -124px;
}
.header-slider.orange .rslides .image .inner {
	top: calc(13% + 124px);
}
@media screen and (max-width: 1440px) {
	main > .header-slider:first-child {
		margin-top: -80px;
	}
	.header-slider.orange .rslides .image .inner {
		top: calc(13% + 80px);
	}
	main > picture:first-child img {
		margin-top: -80px;
	}
	#hd > nav.navbar {
		min-height: 80px;
	}
	#hd a.navbar-brand,
	#hd a.navbar-brand img {
		height: 80px;
	}
	main {
		padding-top: 80px;
	}
}
@media screen and (max-width: 767px) {
	main > .header-slider:first-child {
		margin-top: -50px;
	}
	.header-slider.orange .rslides .image .inner {
		top: calc(13% + 50px);
	}
	main > picture:first-child img {
		height: 320px;
		max-width: none;
		margin-top: -50px;
	}
	#hd > nav.navbar {
		min-height: 50px;
	}
	#hd a.navbar-brand {
		height: 50px;
	}
	#hd a.navbar-brand img {
		max-height: 50px;
	}
	main {
		padding-top: 50px;
	}
}


#navbar > ul > li > a {
	color: #fff;
}

#hd ul.navbar-right a i {
	color: #ec7324;
	margin-right: 10px;
}
#hd ul.navbar-right a em {
	font-style: normal;
}
html.ccm-toolbar-visible #hd > nav.navbar-fixed-top {
	position: static;
	padding-top: 48px;
}

html.ccm-toolbar-visible main {
	padding-top: 0;
}
#navbar .navbar-nav > .open > a,
#navbar .navbar-nav > .open > a:focus,
#navbar .navbar-nav > .open > a:hover,
#navbar .navbar-nav > .active > a,
#navbar .navbar-nav > .active > a:focus,
#navbar .navbar-nav > .active > a:hover {
	background: rgba(255, 255, 255, 0.25);
}
#hd .dropdown-menu {
	background: rgba(0, 0, 0, 0.75);
	border-radius: 0;
}
#hd .dropdown-menu li a {
	color: #fff;
}
#hd .dropdown-menu li a:focus,
#hd .dropdown-menu li a:hover {
	background: rgba(255, 255, 255, 0.25);
	color: #ec7324;
}
#navbar .navbar-nav .open .dropdown-menu > .active > a,
#navbar .navbar-nav .open .dropdown-menu > .active > a:focus,
#navbar .navbar-nav .open .dropdown-menu > .active > a:hover {
	background: none;
}
#navbar > ul > li > a:hover {
	color: #ec7324;
}
@media screen and (min-width: 768px) {
	#navbar > ul > li > a {
		line-height: 24px;
		padding: 50px 5px;
		text-transform: uppercase;
		color: #fff;
		font-size: 18px;
	}

	#hd .navbar-right {
		border-left: 2px solid #ec7342;
		padding-left: 30px;
		padding-right: 30px;
	}
	#navbar ul.navbar-right > li > a {
		padding-left: 25px;
		padding-right: 25px;
		text-transform: none;
	}

	#navbar > ul > li > a span {
		padding: 0 35px;
	}
	#navbar .navbar-nav > .active > a,
	#navbar .navbar-nav > .active > a:focus,
	#navbar .navbar-nav > .active > a:hover {
		background: transparent;
		color: #ec7324;
	}
	#navbar .navbar-nav > .active > a span {
		border-left: 2px solid #ec7324;
		border-right: 2px solid #ec7324;
	}
}
@media screen and (min-width: 768px) and (max-width: 1700px) {
	#hd .navbar-right {
		padding-left: 20px;
		padding-right: 20px;
	}
	#navbar > ul > li > a span {
		padding: 0 30px;
	}
	#navbar > ul > li > a {
		font-size: 17px;
	}
}
@media screen and (min-width: 768px) and (max-width: 1600px) {
	#hd .navbar-right,
	#navbar ul.navbar-right > li > a {
		padding-left: 15px;
		padding-right: 15px;
	}
	#navbar > ul > li > a span {
		padding: 0 20px;
	}
	#navbar > ul > li > a {
		font-size: 16px;
	}
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
	#navbar > ul > li > a {
		padding: 28px 10px;
	}
	#navbar > ul > li > a span {
		padding: 0 15px;
	}
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
	#navbar > ul > li > a {
		padding: 28px 5px;
	}
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
	#navbar > ul > li > a {
		font-size: 14px;
	}
}
@media screen and (min-width: 768px) and (max-width: 1152px) {
	#hd ul.navbar-right a em {
		display: none;
	}
	#hd ul.navbar-right a i {
		margin-right: 0;
	}
}
@media screen and (min-width: 768px) and (max-width: 920px) {
	#hd ul.navbar-right {
		display: none;
	}
}
@media screen and (min-width: 768px) and (max-width: 800px) {
	#navbar > ul > li > a {
		font-size: 12px;
	}
}
@media screen and (max-width: 767px) {
	#hd .navbar-right {
		display: block;
	}
}

#ft {
	background: #222;
}
#ft a.navbar-brand {
	padding: 0;
	height: auto;
	float: none;
}
#ft a.navbar-brand img {
	height: 64px;
}
#ft .middle h3 {
	font-size: 26px;
	font-family: 'Neo Sans Pro', Helvetica, arial, sans-serif;
	font-style: italic;
	font-weight: normal;
	color: #fff;
	text-align: center;
	margin: 0;
	vertical-align: middle;
	line-height: 64px;
}
@media screen and (max-width: 991px) {
	#ft .middle h3 {
		font-size: 18px;
	}
}
#back-to-top {
	float: right;
	background: #fff;
	color: #ec7324;
	height: 64px;
	line-height: 64px;
	padding: 0 10px;
	vertical-align: middle;
	text-align: center;
}
#back-to-top i {
	font-size: 22px;
}
@media screen and (max-width: 767px) {
	#ft a.navbar-brand {
		margin: 0 auto;
	}
	#ft a.navbar-brand img {
		height: auto;
		width: 100%;
	}
	#back-to-top {
		float: none;
		margin: 0 auto;
		display: block;
		max-width: 80px;
	}
}
.header-slider {
	position: relative;
}
main .header-slider:not(:first-child) {
	margin: 60px 0;
}

.header-slider .ccm-image-slider-text {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.header-slider .image {
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.header-slider .image,
.header-slider.orange .rslides {
	min-height: 880px;
}
.header-slider .image:after {
	display: none;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
}
.header-slider.orange .image:after {
	display: none;
}
.header-slider.orange .image {
	position: relative;
}
.header-slider.orange .image .inner {
	width: 100%;
	position: absolute;
	top: calc(13% + 80px);
	right: 0;
	bottom: 13%;
	left: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
main .header-slider:not(:first-child) .image {
	min-height: 480px;
}
main .header-slider:not(:first-child) .image:after {
	display: none;
}
.header-slider .rslides_tabs {
	/*display: none;*/
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	text-align: center;
}
.header-slider.orange .rslides_tabs {
	display: none;
}
.header-slider .rslides_tabs li {
	display: inline;
	position: relative;
	z-index: 10;
	margin-right: 1px;
}
.header-slider .rslides_tabs li a {
	color: #fff;
	background: transparent;
	border: 2px solid #fff;
}
.header-slider .rslides_tabs li.rslides_here a {
	background: #fff;
}
.header-slider .rslides_tabs li a:after {
	display: inline-block;
	vertical-align: middle;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f10c";
	color: #fff;
}
.header-slider .rslides_tabs li.rslides_here a:after {
	content: "\f111";
}
.header-slider .rslides_nav {
	top: 240px;
	z-index: 2;
	/*display: none;*/
	height: 110px;
	width: 60px;
	background: rgba(0, 0, 0, 0.9);
	text-align: center;
	margin: 0;
}
.header-slider.orange .rslides_nav {
	display: none;
}
.header-slider .rslides_nav:after {
	display: inline-block;
	vertical-align: middle;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f053";
	color: #fff;
	line-height: 110px;
	font-size: 32px;
}
.header-slider .rslides_nav.next:after {
	content: "\f054";
}
.header-slider .description {
	color: #fff;
	display: block;
	max-width: 60%;
	margin-top: 30px;
}
.header-slider h1 {
	color: #fff;
	font-style: italic;
	font-size: 48px;
	text-align: center;
	margin-top: 0;
	background: rgba(0, 0, 0, 0.5);
	display: inline-block;
	margin: 0 auto;
	padding: 15px;
}
.header-slider.orange h1 {
	text-align: left;
	font-size: 60px;
	font-style: normal;
	line-height: 1.4;
	background: none;
	display: block;
	padding: 0;
}
.header-slider h1 a {
	text-decoration: none;
	color: #fff;
}
.header-slider h1 + .description {
	margin-top: 15px;
}
.header-slider.orange .rslides {
	background-color: #f15822;
	background-image: url(../images/orange-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.header-slider .header-box {
	text-align: center;
}
.header-slider.orange .header-box {

}
@media screen and (max-width: 1439px) {
.header-slider.orange .rslides,
	.header-slider .image {
		min-height: 600px;
	}
	main .header-slider:not(:first-child) .image {
		min-height: 360px;
	}
	.header-slider h1,
	.header-slider.orange h1 {
		font-size: 40px;
	}
}
@media screen and (max-width: 1199px) {
	.header-slider.orange .rslides,
	.header-slider .image {
		min-height: 420px;
	}
	main .header-slider:not(:first-child) .image {
		min-height: 320px;
	}
	main .header-slider:not(:first-child) {
		margin: 30px 0;
	}
	.header-slider h1,
	.header-slider.orange h1 {
		font-size: 36px;
	}
}
@media screen and (max-width: 991px) {
	.header-slider.orange .rslides,
	.header-slider .image {
		min-height: 300px;
	}
	.header-slider .rslides_nav {
		top: 150px;
	}
	.header-slider h1,
	.header-slider.orange h1 {
		font-size: 28px;
	}
}
@media screen and (max-width: 767px) {
	.header-slider.orange .rslides,
	.header-slider .image {
		min-height: 240px;
	}
	.header-slider .description  {
		max-width: 100%;
	}
	.header-slider .header-box {
		padding: 15px;
		max-width: 100%;
		margin-top: 10px;
		margin-left: 22px;
		margin-right: 22px;
	}
	.header-slider.orange .header-box {
		padding-left: 0;
		padding-right: 0;
		margin-left: -15px;
		margin-right: 0;
	}
	.header-slider .rslides_nav {
		top: 95px;
		width: 40px;
		height: 60px;
	}
	.header-slider .rslides_nav:after {
		line-height: 60px;
	}
	.header-slider .rslides_tabs {
		display: none;
	}
	main .header-slider:not(:first-child) {
		margin: 15px 0;
	}
	.header-slider h1 {
		font-size: 22px;
	}
	.header-slider.orange h1 {
		font-size: 18px;
	}
}


#contact {
	background: #ec7324 url(../images/contact.png) no-repeat scroll center top;
	background-size: cover;
	padding-top: 60px;
	padding-bottom: 60px;
}
#contact-header {
	background: #fff;
}
#contact > .container > .row:first-child {
	padding-bottom: 30px;
}
#contact .btn {
	border-radius: 0;
	width: 100%;
	text-align: center;
}
#contact form .btn {
	text-transform: uppercase;
}
#contact .required {
	display: none;
}
#contact textarea {
	height: 110px;
}
#contact label {
	color: #fff;
	font-weight: normal;
	font-size: 16px;
}
#contact .form-control {
	border-radius: 0;
}
#contact span.address {
	display: block;
	margin-top: 12px;
	margin-bottom: 30px;
	font-size: 18px;
}
#contact .alert {
	margin-top: 30px;
}
#contact .has-error .form-control {
	border: 3px dotted #f00;
}
#contact .buttons {
	margin-top: 30px;
}

@media screen and (max-width: 767px) {
	#contact {
		padding-bottom: 30px;
	}
	#contact span.address {
		margin-top: 30px;
	}
	#contact .btn {
		margin-bottom: 15px;
	}
	#contact img {
		float: none !important;
		display: block;
		margin: 0 auto;
	}
	#contact .buttons + .buttons {
		margin-top: 0;
	}
}


.row.arrows > [class*='col-']:not(:last-child):after {
	display: inline-block;
	vertical-align: middle;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f178";
	color: #000;
	position: absolute;
	top: 20%;
	right: -8px;
}
#steps {
	position: relative;
}
#steps h2, #steps .title {
	text-transform: lowercase;
}
#steps .row.arrows {
	margin-bottom: 60px;
}
#steps i {
	font-size: 48px;
	text-align: center;
	color: #aaa;
	width: 100%;
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
#steps .step {
	display: block;
	text-decoration: none;
}
#steps .step .title {
	display: block;
	color: #aaa;
	font-size: 11px;
	text-align: center;
	margin-top: 10px;
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
#steps .step:hover .title {
	font-size: 16px;
	color: #ec7324;
}
#steps .step:hover i {
	font-size: 60px;
	color: #ec7324;
	margin-top: -15px;
}
@media screen and (max-width: 767px) {
	.row.arrows > [class*='col-']:not(:last-child):after {
		content: "\f175";
		top: auto;
		right: auto;
		left: 49%;
		bottom: 0;
	}
	.row.arrows > [class*='col-']:not(:last-child) {
		margin-bottom: 20px;
	}
	#steps .step {
		padding-bottom: 20px;
	}
}



#brands {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	padding-bottom: 60px;
}
#brands:before {
	display: block;
	content: '';
	background: rgba(0, 0, 0, 0.75);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#brands h2 {
	text-transform: none;
	color: #fff;
}
#brands .nav {
	display: block;
	color: #fff;
	margin-top: 20px;
	font-size: 36px;
}
@media screen and (max-width: 767px) {
	#brands {
		padding-bottom: 30px;
	}
}


.pagelinks-block {
	margin: 15px 0;
}
.pagelinks {
	float: left;
	display: block;
	padding: 30px 80px;
	margin: 0 30px 30px 0;
	background-color: #ec7324;
	background-image: url(../images/pagelinks-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	color: #fff;
}
.pagelinks ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.pagelinks a {
	color: #fff;
	text-decoration: none;
}
.pagelinks a i {
	margin-right: 10px;
}
.pagelinks h2 {
	margin-top: 0;
	color: #fff;
}
.pagelinks-block > h2 {
	padding-top: 30px;
}
@media screen and (max-width: 767px) {
	.pagelinks-block > h2 {
		padding-top: 0;
	}
	.pagelinks {
		width: 100%;
		float: none;
		margin: 15px 0;
		padding: 15px 15px 15px 40px;
	}
}
.ccm-block-share-this-page {
	background: #ebebeb;
	padding: 15px;
	margin: 60px 0;
}
.ccm-block-share-this-page:before {
	display: block;
	content: 'share this';
	float: left;
	font-size: 18px;
	line-height: 32px;
	vertical-align: middle;
}
.ccm-block-share-this-page:after {
	display: table;
	content: '';
	clear: both;
}
.ccm-block-share-this-page ul {
	float: right;
	margin: 0;
}
.ccm-block-share-this-page ul li {
	margin-left: 30px;
}
.ccm-block-share-this-page ul li a {
	color: #000;
	font-size: 32px;
	line-height: 1;
}
.ccm-block-share-this-page ul li a:hover {
	color: #ec7324;
}
@media screen and (max-width: 1199px) {
	.ccm-block-share-this-page {
		margin: 30px 0;
	}
}
@media screen and (max-width: 767px) {
	.ccm-block-share-this-page {
		margin: 15px 0;
	}
}


#map-holder {
	padding-top: 25%;
}
#map-block.full #map-holder {
	padding-top: 50%;
}
#map {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #ccc;
}
#map h2 {
	font-family: 'Armata', Helvetica, arial, sans-serif;
	font-size: 18px;
	margin-top: 0;
}
#map .gm-style-iw {
	font-family: 'Armata', Helvetica, arial, sans-serif;
}
@media screen and (max-width: 767px) {
	#map-holder {
		padding-top: 300px;
	}
}
.contact-info h1 {
	text-align: center;
}
#map-block.full .contact-info h1 {
	text-align: left;
}
main > picture > img {
	width: 100%;
}
.testimonial_item {
	margin: 15px 0;
}
.testimonial_item img {
	max-width: 200px;
}
.testimonial_item cite {
	display: block;
	margin: 15px;
	font-size: 20px;
}
